#{extends 'main.html' /}
#{set title:'Home' /}
<link href="https://developers.google.com/maps/documentation/javascript/examples/default.css" rel="stylesheet">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
function initialize() {
	  
	  var Lat = ${params.get("latitude")};
	  var Lng = ${params.get("longitude")};
	  
	  var myLatlng = new google.maps.LatLng(Lat,Lng);
	  var mapOptions = {
	    zoom: 6,
	    center: myLatlng,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  }
	  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
	  	  addMarkers(map);

	}

	function addMarkers(map)
	{
		 #{list quakelist, as:'quake'}
		 var infowindow = new google.maps.InfoWindow({
		      content: 'Magnitude ${quake.magnitude} at ${quake.datetime}, at a depth of ${quake.depth} km'
		  });

			var marker = new google.maps.Marker({
		      position: new google.maps.LatLng(${quake.lat},${quake.lng}),
		      map: map,
		      title: 'Hello World!'
		  });
			google.maps.event.addListener(marker, 'click', function() {
			    infowindow.open(map,marker);
			  });
			#{/list}
	}
	google.maps.event.addDomListener(window, 'load', initialize);


</script>
<!-- 
<table border="1">
<thead>
	<th>ID</th>
	<th>Magnitude</th>
	<th>Date/Time</th>
	<th>Coords</th>
	<th>Depth</th>
</thead>
<tbody>
 #{list quakelist, as:'quake'}

                <tr>                
                 		<td>${quake.eqid}</td>
                 		<td>${quake.magnitude}</td>
                 		<td>${quake.datetime}</td>
                 		<td>${quake.lat},${quake.lng}</td>
                 		<td>${quake.depth}</td>
                </tr>

                #{/list}
                </tbody>
                </table>
 -->                
                <div id="map-canvas"></div>